[user]
  email = alexanderbabak@proton.me
	name = Ddystopia
	signingkey = 109875EC11535212
[core]
	editor = nvim
[init]
	defaultBranch = main
[credential]
	helper = store
[alias]
	root = rev-parse --show-toplevel
[commit]
	gpgsign = true
