[user]
  email = alexanderbabak@proton.me
	name = Oleksandr Babak
	signingkey = B21CA2CAC0240BB9
[core]
	editor = nvim
[init]
	defaultBranch = main
[credential]
	helper = store
[alias]
	root = rev-parse --show-toplevel
[commit]
	gpgsign = true
