[user]
  email = alexanderbabak@proton.me
	name = Ddystopia
	signkey = github.pub
[core]
	editor = nvim
[init]
	defaultBranch = main
[credential]
	helper = store
[alias]
	root = rev-parse --show-toplevel
[gpg]
	format = ssh
